.insideCard {
    /* border: yellow solid 3px; */
    position: relative;
   
}

.like {
    margin-right: 5%;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.3s ease; 
    font-size: 50px;
    margin-top: 2%;
}

.like:hover {
    transform: scale(1.2);
}

.like .liked {
    color: red;
    transform: scale(1.5);
}

.Movie-not-found{
    color: white;
    font-size: xx-large;
}






.top-inside{
    display: flex;
    flex-direction: row;
    border: blue solid 2px;
    background-color: rgb(212, 212, 255);

}

.tytel-inside{
    margin-top: 3%;
    background-color: rgb(237, 255, 210);
    border: greenyellow solid 2px;
}

.img-inside{
    border: red solid 4px;
    text-align: center;
    margin-top: 3%;
    background-color: rgb(255, 182, 182);
}
.bootem{
    border: yellow solid 4px;
    background-color: rgb(255, 255, 210);

}

.info {
    /* border: #c71e1e solid 1px; */
    /* position: absolute;
    bottom: 0; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* backdrop-filter: blur(10px); */
    /* width: 500px;
    overflow: hidden;  */
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0) ;
}

.name-inside {
    font-family: 'Arial', sans-serif;
    font-size: 2em; 
    font-weight: bold;
}
.movie-description {
    color: #bcbcbc;
    font-family: 'Arial', sans-serif;
    font-size: 1em; 
    font-weight: bold;
}
.background-image{
    height: 70%;
}