.insideCard {
    /* border: yellow solid 3px; */
    position: relative; /* Make the container relative */
    background-color: #383333;
    height: 600px;
    width: 1100px;
    text-align: center;
    margin: auto;
    overflow: hidden; /* Hide overflow content */

}

.background-image{
    width:100%;
}

.info {
    /* border: #c71e1e solid 1px; */
    position: absolute;
    bottom: 0; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /* backdrop-filter: blur(10px); */
    width: 500px;
    overflow: hidden;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgb(0, 0, 0) ;
}

.like-img {
    width: 30px;
    height: 30px;
}
  
.likes {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center the likes and dislikes horizontally */
    gap: 12px;
}
  
.text-like {
    font-size: large;
    color: #ffffff;
    text-shadow: 2px 2px 4px black ;
}

.j{
    color: #ffffff;
}